
@{
    ViewData["Title"] = "PagarCita";
}

<h1>PagarCita</h1>

<div class="row">
    <div class="col-md-12">


        <div class="row" style="border:1px solid black">

            <div class="col-md-5 mr-4" style="border:1px solid black">

                <div class="row">
                    <div class="col-md-12 mt-4 mb-2 p-3" style="border: 1px solid black; border-radius:25px">
                        <h5>Ingresa los datos de tu tarjeta</h5>
                        
                        <input placeholder="Número de tarjeta" type="text" required class="form-control">
                        <select style="width:240px; height:40px">
                            <option value="" disabled selected>Mes de vencimiento</option>
                            <option value="01"> 01</option>
                        </select>
                        <select style="width:240px; height:40px">
                            <option value="" disabled selected>Año de vencimiento</option>
                            <option value="2023"> 2023</option>
                        </select>
                        <input placeholder="CVV" type="text" required class="form-control">

                        <h5>Selecciona tu tipo de comprobante</h5>
                        <select style="width:240px; height:40px">
                            <option value="Boleta">Boleta</option>
                            <option value="Factura">Factura</option>
                        </select>
                    </div>
                </div>



            </div>
            <div class="col-md-6 ml-4" style="border:1px solid black">

                <div class="row">
                    <div class="col-md-12 mt-4 mb-2 p-3" style="border: 1px solid black; border-radius:25px">
                        <h5>Detalles de Cita</h5>
                        <label>Paciente:</label><br/>
                        <label>Documento:</label><br />
                        <label>Especialidad:</label><br />
                        <label>Fecha:</label><br />
                        <label>Hora:</label><br />
                        <label>Costo:</label><br />
                       
                    </div>
                </div>


            </div>
        </div>



        <div class="row mt-2" style="border:1px solid black">

            <div class="col-2 mt-4 mb-2">
                <button class="form-control btn-secondary">Volver</button>
            </div>
            <div class="col-2 offset-8 mt-4 mb-2" >
                <button class="form-control btn-primary" type="submit">Pagar</button>

        </div>
    </div>
</div>
</div>
